{% extends 'events/base.html' %}
   

        {%block body%}
        <center><h2>Event List</h2></center>
{%for ev in events%}

 <table class="table table-striped  table-hover table-bordered ">
            <thead>
                <tr> 
                    <th scope="col">Events</th>
                </tr>

            </thead>
            <tbody>
                
                <tr>
                    <td>
                     <a href="{%url 'show_event' ev.id %}" >{{ev}}</a>
                    </td>  


                </tr>
            </tbody>


    {%endfor%} 

         {%endblock%}
         
